* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    font-size: 1.5vw;
    color: #fff;
}

.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(137, 182, 160);
}

.panel {
    width: 85vw;
    height: 90vh;
    background-color: #fff;
    border-radius: 1vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.panel nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85vw;
    height: 6vw;
    background-color: rgb(3, 141, 95);
}

.container {
    width: 30vw;
    height: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    position: relative;
}

.container h2 {
    font-size: 1.2vw;
}

.container .title {
    font-size: 4vw;
}

.container .box {
    width: 4vw;
    color: rgb(3, 141, 95);
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4vw;
    background-color: #fff;
    border-radius: .8vw;   
}

.panel-content {
    /* overflow: hidden; */
    width: 85vw;
    height: calc(100vh - 6vw);
    display: flex;
    justify-content: center;
    align-items: center;
}

.bubble-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: .7vw;
    width: 95%;
    height: 90%;
}

.game-over-container h2 {
    color: rgb(3, 141, 95);
    font-size: 10vw;
}

.game-over-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-over-container button {
    margin-top: 5vw;
    width: 20vw;
    height: 4vw;
    border: 0;
    border-radius: 2vw;
    background-color: rgb(3, 141, 95);
    color: #fff;
    font-size: 1.2vw;
    font-weight: 600;
    text-transform: uppercase;
}



.bubble {
    width: 3.3vw;
    height: 3.3vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(3, 141, 95);
    font-weight: 700;
    color: #fff;
}